@{
    ViewBag.Title = "Pubtracker2 Home Page";
}

<div class="jumbotron">
    <h1>Pubtracker2</h1>
    <p class="lead">Pubtracker2 is an application to track publications.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Pubtracker2 is guaranteed to give you a headache in 10 minutes or less.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Headache">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get some aspirin</h2>
        <p>Be sure to drink plenty of water.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Aspirin">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>When aspirin doesn't do it.</h2>
        <p>We all need a little extra help sometimes.</p>
        <p><a class="btn btn-default" href="https://www.cvs.com/">Talk to our pharmacy for a little more. &raquo;</a></p>
    </div>
</div>